/* Universal CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

img{
    width: 100%;
}

/* Header - Navigation & Banner Styles */
header{
    background-image: linear-gradient(to top, rgba(64,61,68, 0.9), rgba(53, 53, 55, 0.5)) , url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
}

.nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
}

.nav-menu-container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.nav-menu-container a{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    display: block;
    padding: 0px 20px;
}

.site-tagline{
    text-align: center;
    padding: 120px 0px;
}

.site-tagline .tagline-subtitle{
    font-weight: 500;
    font-size: 35px;
    font-style: italic;
}

.site-tagline .tagline-title{
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 10px;
}

.site-tagline .primary-btn{
    font-weight: 500;
    font-size: 18px;
    background: #30788B;
    color: #FFFFFF;
    border: none;
    padding: 5px 35px
}



/* Responsive Layout Styles */

/* Responsive Layout - Mobile */

@media screen and (max-width:576px) {

    .nav{
        flex-flow: column wrap;
        text-align: center; 
        padding: 0;
    }

    .navbar-logo{
        margin: 10px 0px;
    }
    
    .nav-menu-container{
        flex-flow: column wrap;
    }
    
    .nav-menu-container a { 
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.7); 
    }
    
    .nav-menu-container li:first-child a{
        border-top: none; 
    }  
    
    .site-tagline{
        padding: 50px 0px;
    }    

    /* Main Area Responsive Styles */
}